version: "2"

services:
  juniper:
    extends:
      file: ./juniper/docker-compose.yaml
      service: prod

    volumes:
      - ~/.ssh/config:/root/.ssh/config:Z,ro

      ## ssh public key authentication
      # - ~/.ssh/juniper_key:/root/.ssh/id_rsa:Z,ro

      ## Juniper configuration
      # - ./juniper-config.yml:/config.yml:Z,ro
    
    environment:
      JNPR_CONFIG_FILE: /config.yml

  juniper-dev:
    extends:
      file: ./juniper/docker-compose.yaml
      service: dev

  juniper-pydoc:
    extends:
      file: ./juniper/docker-compose.yaml
      service: dev
    command: start-pydoc-server.sh
    ports:
      - 8080:8080

  ansible-prod:
    extends:
      file: ./ansible/docker-compose.yaml
      service: prod
    volumes:
      ## ssh public key authentication
      # - ~/.ssh/cisco_key:/root/.ssh/id_rsa:Z,ro

      ## Ansible inventory file
      # - ./production-inventory:/inventory:Z,ro

      ## Ansible parameters file
      # - ./production-config:/config.yml:Z,ro

    environment:
      ANSIBLE_VARS_FILE: /config.yml

  ansible-dev:
    extends:
      file: ./ansible/docker-compose.yaml
      service: dev
    volumes:
      ## ssh public key authentication
      # - ~/.ssh/cisco_key:/root/.ssh/id_rsa:Z,ro

      ## Ansible inventory file
      # - ./development-inventory:/inventory:Z,ro
