version: "2"

services:
  juniper:
    extends:
      file: ./juniper/docker-compose.yaml
      service: prod

    volumes:
      - ~/.ssh/config:/root/.ssh/config:Z,ro

      ## ssh public key authentication
      # - ~/.ssh/juniper_key:/root/.ssh/id_rsa:Z,ro

      ## Juniper configuration
      # - ./juniper-config.yml:/config.yml:Z,ro
    
    environment:
      JNPR_CONFIG_FILE: /config.yml

  juniper-dev:
    extends:
      file: ./juniper/docker-compose.yaml
      service: dev

  juniper-pydoc:
    extends:
      file: ./juniper/docker-compose.yaml
      service: dev
    command: start-pydoc-server.sh
    ports:
      - 8080:8080

  ansible-dev:
    build: ./ansible/
    working_dir: /ansible/
    volumes:
      - ./ansible:/ansible:Z,ro

    ## ssh public key authentication
    #  - ~/.ssh/ansible_key:/root/.ssh/id_rsa:Z,ro
