## template configuration file

# logging:
#   verbose: true
#   console: true
#   file: null

ssh:
  # config: ~/.ssh/config
  host: juniper
  # ask_passwd: false

changes:
  banner: "\\n\\n\\t\\t This is Banner \\n\\n"
  # banner_file: motd.txt

  user:
    name: little-juno
    # passwd: secret 

  config: set system login user little-juno class operator
  # config_file: template.j2

